.link {
    stroke: #2E2E2E;
    stroke-width: 2px;
}

.node {
    stroke: #fff;
    stroke-width: 2px;
}
.textClass {
    stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 14px;
}