.background {
    stroke: gray;
    stroke-width: 1px;
    fill: white;
}
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.spike {
    fill: url(#SpikeGradient);
    stroke-width: 0;
}

.d3-tip {
    line-height: 1;
    color: black;
}